{% extends 'shop/base.html' %}

    {% block content %}
{% if request.user.is_authenticated %}
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Хотите удалить товар "{{ object.title }}?"</p>
                            <button type="submit" class="btn btn-danger">Подтвердить</button>
                            <a href="{% url 'shop:list' %}" class="btn btn-warning">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% else %}
    <div class="col-12">
            <form class="row-3">
                <div class="col-3">
                    <div class="card">
   <a class="p-2 btn btn-outline-primary" href="{% url 'users:login' %}">Войти</a>
   <a class="p-2 btn btn-outline-primary" href="{% url 'users:register' %}">Зарегистрироваться</a>
{% endif %}
    {% endblock %}